numpy==1.24.4
pandas==2.2.2
scipy==1.11.4
scikit-learn==1.4.2
joblib==1.4.2
matplotlib
streamlit==1.35.0

python-dateutil>=2.8
openpyxl>=3.1

gspread
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
oauth2client

pyarrow==14.0.2
python-docx>=1.1.2

